body {
  background-image: url(../src/Images/indian-condiments-with-copy-space-view.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    color: aliceblue;
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: .01em;
    line-height: 1.6;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
}

/* .update {
  background-image: url(../src/Images/indian-condiments-with-copy-space-view.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: .01em;
    line-height: 1.6;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
} */

img {
    width: 100%;
    margin-top: 140px;
}

h2 {
    font-size: 3.6rem;
    margin-top: 330px;
    font-family: 'Fugaz One', cursive;
}

h3 {
    color: black;
    font-size: 25px;
    font-family: 'Fugaz One', cursive;
}

h4 {
    color: black;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding-left: 100px;
}



.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 16px; 
  }
  
  .grid-item {
    text-align: center; 
  }
  
  .grid-item img {
    max-width: 100%; 
    height: auto; 
  }
  
  .gird-item-content {
    max-width: 100%;
    height: auto;

  }
  
  input[type='text'] {
    width: 52%;
    text-align: center;
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  select {
    width: 52%;
    background-color: aliceblue;
    text-align: center;
  }

  .show-button {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
.show-button {
  display: flex;
  justify-content: center;
  gap: 10px; 
}

.show-button button {
  background-color: brown;
  border: 0.1rem solid brown;
  color: white;
  padding: -0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  gap: 10px; 
}


.show-button button:hover {
  background-color: darkred;
  border-color: darkred;
}

.navigation {
  background-color: black; 
  padding: 20px;
  text-align: right;
}

.nav-links {
  display: inline-block; 
}

.nav-links a {
  color: white; 
  text-decoration: none; 
  margin-left: 20px; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-links a:hover {
  text-decoration: underline; 
}

.form {
  margin-bottom: -5rem;
}